.form-group {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    width: 300px;
}

.error input {
    border: 2px solid red;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}